<!DOCTYPE html>
<html lang="" ng-app="Todo">
    <head>
        <link rel="import" href="./tpls/header.html?__inline" />
        <title>todolist-angular</title>
        <style>
            .todo-tip{
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container" ng-controller="managerTodo">
            <div class="row">
                <div class="col-sm-12">
                    <p class="todo-tip {{tip.tipClassName}}" ng-bind="tip.msg" ng-if="tip.type"></p>
                    <div class="col-sm-6 col-sm-offset-2 pd">
                        <div class="col-sm-12 todo-container pd">
                            <link rel="import" href="./tpls/versionToggle.html?__inline" />
                            <div class="col-sm-12 todo-form pd">
                                <div class="col-sm-8 col-xs-9 pd">
                                    <input type="text" class="form-control col-sm-8 col-xs-9 todo-input" ng-model="todoValue" value="" placeholder="回车也可提交">
                                </div>
                                <div class="btn btn-info col-sm-4 col-xs-3 todo-btn-add" ng-click="addTodo()">添加</div>
                            </div> 
                            <div class="clear clearfix"></div>
                            <div class="col-sm-12 pd todo-btn-container">
                                <button type="button" class="btn btn-{{toggleAllTodo ? 'default' : 'info'}} col-sm-2 col-xs-6" ng-click="finishAllTodo()">全选/不选</button>
                                <button type="button" class="btn btn-danger col-sm-3 col-xs-6" ng-click="clearFinishedTodo()">清空已完成</button>
                                <button type="button" class="btn btn-{{filter==='all' ? 'info' : 'default'}} col-sm-2 col-xs-4" ng-click="filterTodo('all')">所有(<span class="todo-total" ng-bind="allTotal"></span>)</button>
                                <button type="button" class="btn btn-{{filter==='finished' ? 'info' : 'default'}} col-sm-2 col-xs-4" ng-click="filterTodo('finished')">已完成(<span class="todo-finish-total" ng-bind="finishTotal"></span>)</button>
                                <button type="button" class="btn btn-{{filter==='nofinish' ? 'info' : 'default'}} col-sm-3 col-xs-4" ng-click="filterTodo('nofinish')">未完成(<span class="todo-nofinish-total" ng-bind="noFinishTotal"></span>)</button>
                            </div>
                            <div class="clear clearfix"></div>
                            <ul class="list-group todo-list">
                                <li class="list-group-item todo-li {{todo.status===true ? 'todo-li-finished' : ''}}" ng-repeat="todo in todoList track by $index" ng-if="(filter === 'finished' && todo.status) || (filter === 'nofinish' && !todo.status) || filter === 'all'">
                                    <label class="todo-span todo-check"><input ng-checked="todo.status" type="checkbox" class="todo-btn-check" id="{{todo.id}}" value="" ng-click="changeStatusTodo($index)"></label>
                                    <span class="todo-content" ng-bind="todo.name"></span>
                                    <span class="todo-span todo-delete text-danger todo-btn-delete" ng-click="deleteTodo($index)">x</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    	<script src="libs/store/store.min.js"></script>
    	<script src="libs/angular/1.3.2/angular.js"></script>
    	<script src="js/ng-app.js"></script>
    </body>
</html>